<div class="p-4">
  <h4 class="fst-italic">Elsewhere</h4>
  <ol class="list-unstyled">
    <li><a href="https://github.com/mateusflorez" target="_blank">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/mateuspaz/" target="_blank">LinkedIn</a></li>
    <li><a href="https://www.behance.net/mateusfpaz" target="_blank">Behance</a></li>
  </ol>
</div>
